@use '../../sass/components/button';
@use '../../sass/components/reset';


$font-stack:'Inter', sans-serif;
$main-color-light-theme: #2639ED;
$main-color-light-theme-hover: #0c1ba8;
$main-color-dark-theme: #eab629;
$main-color-dark-theme-hover: #c3971d

