@use '../../sass/components/button';
@use '../../sass/components/reset';

//Usage fonts, colors
$font-stack:'Inter', sans-serif;
$main-color-light-theme: #2639ED;
$main-color-dark-theme: #fec432;
$second-color-dark-theme: #f68a19;


$container-width: 1170px;
$title-size: 30px;
$text-size: 16px; 


//usage blocks

.none {
    display: none;
}

.title {
    font-size: $title-size;
    color: $main-color-light-theme;
    font-weight: 600;
}

.text {
    font-size: $text-size;
    color: $main-color-light-theme;
    font-weight: 400;
}


// ----------------------


body {
    font-family: $font-stack;
}


.container {
    max-width: $container-width;
    margin: 0 auto;
}

.menu {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 20%;

    .logo-img {
        max-width: 27%;
        max-height: 27%;
    }

    .title {
        margin: 0px 0px 0px 7px;
    }
}

.menu__lang-toggler {
    
    margin-left: auto;
    margin-right: 10px;

    .text {
        font-size: 25px;
    }
}

.menu__theme-toggler {
    max-width: 50px;
}

.main__title {
    text-align: center;
    font-size: 40px;
    margin: 30px 0px 0px 0px;
}

.home-crypto-box {
    display: flex;
    align-items: center;
}

.crypto-link {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble{
    position: absolute;
    max-width: 110%;
    top: 0x;
    left: -5%;
    animation: flying 1s linear 0s infinite alternate none;
}

.crypto-img {
    animation: flying 1s linear 0s infinite alternate none;
}

.crypto-wrapper {
    padding: 30px;
    margin-top: 100px;
}



// Bubble animation

@keyframes flying {
    0% {
        margin-top: 0px;
    }
    100%{
        margin-top: -20px;
    }
}

// btc settings

.btc-wrapper {
    max-width: 35%;
}

.btc-wrapper:hover {
    max-width: 40%;
    transition: 0.5s;
}

// eth setting


.eth-wrapper {
    max-width: 20%;     
}

.eth-wrapper:hover {
    max-width: 23%;
    transition: 0.5s;
}


// mask settings


.mask-wrapper {
    max-width: 15%;
    margin-bottom: -220px;
}

.mask-wrapper:hover {
    max-width: 19%;    
    transition: 0.5s;
}

// sol settings

.sol-wrapper {
    max-width: 20%;
    margin-top: -30px;
    margin-left: -100px;
}

.sol-wrapper:hover {
    max-width: 23%;    
    transition: 0.5s;
}

// atom settings

.atom-wrapper {
    max-width: 15%;
}

.atom-wrapper:hover {
    max-width: 18%;    
    transition: 0.5s;
}
